/*.input-field input[type=password].invalid,
.input-field input[type=password].valid {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.input-field input[type=email] {
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
    -o-transition: ease-out 0.1s;
    transition: ease-out 0.1s;
}*/

input {
    -webkit-transition: border-color, border, background-color, color, box-shadow 0.1s ease-out;
    -moz-transition: border-color, border, background-color, color, box-shadow 0.1s ease-out;
    -o-transition: border-color, border, background-color, color, box-shadow 0.1s ease-out;
    transition: border-color, border, background-color, color, box-shadow 0.1s ease-out;
}

label {
    -webkit-transition: opacity, color 0.1s ease-out;
    -moz-transition: opacity, color 0.1s ease-out;
    -o-transition: opacity, color 0.1s ease-out;
    transition: opacity, color 0.1s ease-out;
}

.input-field input[type=password].weak {
    border-bottom: 1px solid #c0ca33;
    box-shadow: 0 1px 0 0 #c0ca33;
}

.input-field input[type=password].weak + label:after {
    color: #c0ca33;
    opacity: 1;
    content: attr(data-weak);
}

.input-field input[type=password].mini {
    border-bottom: 1px solid #fb8c00;
    box-shadow: 0 1px 0 0 #fb8c00;
}

.input-field input[type=password].mini + label:after {
    color: #fb8c00;
    opacity: 1;
    content: attr(data-mini);
}

#error_message {
    font-size: 1.2rem;
    color: #F44336;
}

label.displayer {
    width: 93%;
}

label.displayer a {
    opacity: 0;
    display: none;
    font-weight: 500;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    float: right;
}

label.displayer a:hover {
    color: #29b6f6;
}

label.displayer a:active {
    color: #039be5;
}

#recover.visible {
    display: inline;
    opacity: 1;
}

.displayer {
    opacity: 1;
    font-size: 0.8rem !important;
    -webkit-transform: translateY(+228%) !important;
    transform: translateY(+228%) !important;
}

.input-field input[type=email].invalid,
.input-field input[type=password].invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

.input-field input[type=email].invalid + label:after,
.input-field input[type=password].invalid + label:after {
    opacity: 1;
    content: attr(data-error);
    color: #f44336;
}

.input-field input[type=email].valid,
.input-field input[type=password].valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}

.input-field input[type=email].valid + label:after,
.input-field input[type=password].valid + label:after {
    color: #4caf50;
    opacity: 1;
    content: attr(data-success);
}

.career-block a {
    padding: 0 45px;
    font-size: 1.3rem;
}

.career-block a:active {
    box-shadow: none !important;
}

#register_form {
    float: none;
    margin: auto;
    max-width: 350px;
}

@media only screen and (min-width: 601px) {
    #register_form {
        margin: auto;
        min-width: 300px;
        max-width: 350px;
    }
}