/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card .card-image .card-title {
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    background-color: rgba(184,184,184,0.7);
    width: 100%;
}
