.app-light-red {
    background-color: #FE424D !important;
}

.header-logo-text {
    font-size: 40px;
    font-weight: 900;
}

.header-block {
    height: 10vh;
}

.home-page-block {
    height: 60vh;
}

.home-catch-phrase-block {
    padding: 5vh;
    height: 30vh;
    align-items: center;
    justify-content: center;
}

.home-catch-phrase {
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}

.home-sign-up-btn {
    margin: 20px;
    width: 35.5%;
    height: 60.5%;
    font-size: 30px;
    font-weight: 900;
    border-radius: 4px;
}