
html[lang="en-US"][data-device-type="dedicated"] .pp-header {
    min-width: 1028px;
}

* {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

header {
  font-family: "pp-sans-big-medium", Helvetica Neue, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  position: absolute;
  z-index: 10;
  margin: 0;
  width: 100%;
  padding: 0;
}

body {
    font-size: 14px;
    line-height: 1.5em;
    display: block;
    margin: 0px;
}

.row-fluid {
    background: #fff;
    position: relative;
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate(0, 0);
}

.row-fluid {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hpw {
    padding-top: 60px;
    padding-bottom: 60px;
}
.center-text {
    text-align: center;
}















nav {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
ul {
    list-style-type: none;
    height: 67px;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
