.menu-panel-section {
    width: 225px;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.side-menu-container {
    background-color: #29b6f6;
    position: relative;
    z-index: 3;
}

.side-menu.header {
    margin: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: azure;
}

.wallet-container {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.wallet-container.text {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wallet-title {
    color: #fff;
    font-weight: 200;
    font-size: 35px;
    line-height: 35px;
    margin: 7px 0 7px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.wallet-add-button {
    background-color: #ff9800;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    display: flex;
}

.wallet-add-button:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
    background-color: #ffb74d;
}

.wallet-add-button:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px -1px rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-out 0.15s;
    -moz-transition: ease-out 0.15s;
    -o-transition: ease-out 0.15s;
    transition: ease-out 0.15s;
    background-color: #ffa726;
}

.wallet-list-toplevel {
    padding: 0 20px 0 20px;
}

.wallet-item-toplevel {
    margin: 10px 0 10px 0;
    background-color: #4fc3f7;
}

.item-name p {
    margin: 0 0 3px 0;
}

.item-balance p {
    margin: 0;
    text-align: right;
}
